body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2c2c;
}

.card{
  width: 300px;
  background-color: rgb(226, 226, 226);
  border-radius: 9px;
  box-shadow: 0px 4px 8px rgba(207, 207, 207, 0.356);
  overflow: hidden;
  text-align: center;
  padding: none;
}

.header{
  height: 100px;
  width: 100%;
  background: url("https://wallpapers.com/images/high/cool-profile-pictures-studded-mask-h4zawj8mof8e3iuw.webp");
  background-size: cover;
}

.userProfile{
  margin-top: -50px;
  padding: 0%;
}

.userpic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 1.5em;
  margin: 1px 0 5px;
}

.age {
  font-size: 0.8em;
  color: gray;
}

.location {
  color: gray;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
}

.stat {
  text-align: center;
}

.number {
  font-size: 1.2em;
  font-weight: bold;
}

.label {
  color: gray;
  font-size: 0.8em;
}